<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    div {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    div.total-docs {
        margin-top: 20px;
    }

    a {
        margin: 0 10px;
        text-decoration: none;
        color: #3498db;
    }
</style>

<div>
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {{#each docs}}
            <tr>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.gender}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="total-docs">
        Total Docs: {{ totalDocs }}
        <br>
        Pages: {{page}} / {{ totalPages }}
        <br>
        {{#if hasPrevPage }}
            <a href="/?page={{prevPage}}&limit={{limit}}">Previous</a>
        {{/if}}
        {{#if hasNextPage }}
            <a href="/?page={{nextPage}}&limit={{limit}}">Next</a>
        {{/if}}
    </div>
</div>